body {
  background-color: #ffffff;
  color: #000080;
  font-style: normal;
}
a:link {
  color: #800080;
}
a:visited {
  color: #ff0000;
}
.column-left {
  float: left;
}
.column-right {
  float: right;
}
li {
  margin: 25px;
}
.descript {
  font-size: 10px;
}
header {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}
.drop-cap {
  font-size: 36px;
  /*line-height: 0;*/
}
.low-cap {
  font-size: 12px;
}
.address {
  font-size: 13px;
}
#homepage {
  font-size: 16px;
}
.white-space {
  white-space: pre-line;
}
.adspecs {
  clear: both;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.test {
  position: relative;
  margin: 0px;
}
.comment {
  font-size: 13px;
  border-bottom: 1px solid black;
}
.copyright {
  font-size: 10px;
}
.copyright-name {
  font-weight: bold;
}

/*
 What is important to know when linking an external file (like a stylesheet) to an HTML file?
 - Well the most imporant thing to know is that make sure you have the right path in the href attribute and also don't forget to set the "rel" attribute to stylesheet.css. The rel is to state the relationship of the file; in this case it is a stylesheet.

 What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
 - We used a lot of different attributes to get us the right positioning it took my partner and I about 5 hours until we had a similar setup to the actual site. We did use a handful of attributes over and over; for example, to position text we used text-align, margin, and float. It was hard to get the white space gap we had after the Geico image and for that we used this attribute called white-space but later found it is actually dangerous to use because if you skip lines in you html it will add a space for every empty line in the editor. Its a little hard to explain but I would steer away from it.

 What CSS did you use to modify the element style (like size, color, etc.)
 - To modify the element style we used the standard attributes such as; font-size, color, background-color. We didn't really need any other elements to modify the page.

 Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to yoHTML?
 - We did have to modify a few html elements so we could alter some of the text. In order to accomplish this we used the <div> and <span> tags. We chose mainly to stick with classes because this is standard practice in the world to use classes and avoid id unless needed.

 When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
 - The cleaner code for html has to be ours becuase we used proper indentation and incorporated HTML5 semantics while the only thing on Berkshire's site that looks neat is the tables which... no one uses in this day and age. The rest of the code is smoosehd with formating atrributes and they did not seperate nor did they even create a css file; which is why I also believe we had best practices.
*/
